html {
	font-family: "Roboto Slab", serif;
}

body {
	margin-left: 300px;
}

h1 {
	background-color: black;
	font-size: 2.6rem;
	color: white;
	padding: 4px 8px 4px 8px;
	width: max-content;
}

#content {
	margin: 10px;
}

#modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
}

#the-form {
	background-color: black;
	color: white;
	width: 90%;
}

input[type="submit"] {
	padding: 0.4rem;
	font-weight: bold;
	font-family: "Roboto Slab";
	width: 120px;
	margin: 20px 0 20px 0;
}

input[type="text"] {
	width: inherit;
	padding: 0.4rem;
	font-family: "Roboto Slab";
}

#table {
	margin-top: 20px;
	width: 100%;
}

.fa-book {
	color: white;
	font-size: 90px;
}

.trashBtn,
.editBtn {
	font-size: 20px;
	border: none;
	background-color: transparent;
}

.trashBtn:hover {
	color: red;
}

.editBtn:hover {
	color: lightseagreen;
}

th {
	background-color: black;
	color: white;
}

td {
	text-align: center;
}

td:last-child {
	width: 80px;
}

tr:hover {
	background-color: lightgrey;
}

#table,
th,
td {
	border-bottom: 2px solid black;
	padding: 4px;
	border-collapse: collapse;
}
