html {
	font-family: "Montserrat", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	background-color: black;
	font-size: 2.6rem;
	color: white;
	padding: 4px 8px 4px 8px;
	width: max-content;
}

input {
	padding: 0.4rem;
	border-radius: 8px;
}

#table {
	margin-top: 20px;
	width: 550px;
}

#table,
th,
td {
	border: 2px solid black;
	padding: 4px;
	border-collapse: collapse;
}
