:root {
	--purple: #6f4367;
	--lavender: #a69aca;
	--dark-blue: #253657;
	--pink: #e76d8a;
	--light-pink: #f5a1a1;
	--white: #f8e9e5;
	--radius: 8px;
}

html {
	font-family: "Roboto Slab", serif;
}

body {
	margin-left: 310px;
	background-color: var(--white);
}

h1 {
	font-size: 3rem;
	color: var(--purple);
	padding: 4px 8px 4px 8px;
	width: max-content;
}

#content {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

#modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--purple);
	overflow-x: hidden;
}

#the-form {
	background-color: transparent;
	color: var(--white);
	width: 90%;
}

input {
	transition: 0.3s;
}

input[type="submit"] {
	padding: 0.4rem;
	font-weight: bold;
	font-family: "Roboto Slab";
	color: var(--dark-blue);
	width: 120px;
	height: 40px;
	margin: 10px 0 10px 0;
	border: none;
	border-radius: var(--radius);
	background-color: var(--white);
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: var(--lavender);
}

input[type="text"] {
	width: inherit;
	padding: 0.6rem;
	font-family: "Roboto Slab";
	background-color: var(--white);
	border-radius: var(--radius);
	border: none;
	outline: none;
	border: 4px solid transparent;
	color: var(--dark-blue);
}

input[type="text"]:focus {
	border: 4px solid var(--lavender);
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + *::before {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 1rem;
	height: 1rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--white);
}

input[type="radio"]:checked + *::before {
	background: radial-gradient(
		var(--lavender) 0%,
		var(--lavender) 40%,
		transparent 50%,
		transparent
	);
	border-color: var(--lavender);
}

input[type="radio"]:checked {
	color: var(--lavender);
}

.fa-book {
	color: var(--white);
	font-size: 90px;
}

.trashBtn,
.editBtn {
	color: var(--dark-blue);
	font-size: 20px;
	border: none;
	background-color: transparent;
	transition: 0.3s;
	cursor: pointer;
}

.trashBtn:hover {
	color: var(--white);
}

.editBtn:hover {
	color: var(--white);
}

#table {
	margin-top: 20px;
	width: 100%;
	border-radius: var(--radius);
	color: var(--white);
	overflow: hidden;
}

th {
	background-color: var(--purple);
}

tr {
	text-align: center;
	background-color: var(--white);
}

tbody {
	color: var(--dark-blue);
}

#table,
th,
td {
	border-bottom: 2px dashed var(--dark-blue);
	padding: 10px;
	border-collapse: collapse;
}

td:last-child {
	width: 80px;
}
